.videoChooser {
    &__container {
        display: grid;
        grid-auto-flow: column;
        @apply gap-4;
    }

    button {
        text-align: center;
        @apply bg-gray-700;
        @apply p-4;
        @apply rounded-lg;
    }

    h1 {
        @apply text-5xl;
        @apply font-extrabold;
        @apply mb-5;
        text-align: center;
    }

    img {
        width: auto;
        height: 100px;
        display: block;
        @apply mx-auto;
    }
}