.videoInput {
    display: flex;
    flex-direction: row;
    @apply mb-10;

    input {
        @apply mr-4;
    }

    button {
        width: auto;
        background-color: #ff4f68;

        @apply rounded-lg;
        @apply w-5/12;

        @screen md {
            @apply w-3/12;
        }
    }
}