.targetLatency {
    @apply w-1/4;
    @apply mt-2;

    button {
        width: auto;
        background-color: #ff4f68;

        @apply rounded-lg;
        @apply w-full;
        @apply py-2;
        @apply mt-4;
    }
}