@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply bg-gray-900;
    @apply text-white; 
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

video,
#player,
.video-js.vjs-16-9 {
    padding: 0px;
    display: flex;
    background-color: rgb(20, 20, 30);
    margin-right: 1em;
    margin-bottom: 1em;
    width: 100%;
    min-height: 600px;
}